.error,
.success {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.blog .remove {
    background-color: red;
    color: white;
    /* Cambia el color del texto dentro del botón si es necesario */
}